{% extends 'base.html.twig' %}

{% block title %}ChatGeocercano - Home{% endblock %}

{% block body %}
<div style="padding: 2rem;">
    <h1>Home</h1>
    <p>Frontend eliminado.</p>
    <p><a href="{{ path('api_api_doc') }}">Ir a documentación API</a></p>
</div>
{% endblock %}

