.git
.gitignore
.env.local
.env.*.local
node_modules
var/cache
var/logs
vendor
public/build
.github
.editorconfig
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yaml
compose.yaml
compose.override.yaml
.DS_Store
