[build]
builder = "nixpacks"

[build.nixpacks]
providers = ["php", "nodejs", "yarn"]

[deploy]
startCommand = "bash start.sh"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5

[env]
APP_ENV = "prod"
APP_DEBUG = "0"
PORT = "8000"
